body
{
	background-color: #00B33C;
	margin: 0%;
}

input.hideError
{
	background-color: #FFFFFF;
	color: #000000;
}

input.showError
{
	background-color: #094A09;
	color: #FFFFFF;
}

label.hideError
{
	display: none;
}

label.showError
{
	color: #000000;
	display: inline;	
  display: inline-block;	
}

nav
{
	background-color: #094A09;
	height: 50px;
	margin-bottom: 5px;
}

.alignCenter
{
	text-align: center;
}

.alignLeft
{
	text-align: left;
}

.alignRight
{
	text-align: right;
}

.approverList
{
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 10px;
  text-align: left;
}

.approverList td, .approverList th
{
  border: 1px solid black;
}

.button
{
	background-color: #00B33C; 
	border: 2px solid #094A09;
	border-radius: 5px;
	color: #FFFFFF;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

.button:hover
{
	background-color: #094A09;
	border: 2px solid #00B33C;
}

.evenRow
{
  background-color: #388E3C;
}

.headerRow
{
  background-color: #094A09;
  color: #FFFFFF;
  font-size: 20px;
}

.login
{
	background-color: #90EE90;
	border: 5px solid #094A09;
	border-radius: 30px;
	left: 50%;
	position: absolute;
	top: 50%;
  transform: translate(-145px, -62px);
}

.navLeft, .navRight, .title
{	
	color: #FFFFFF;
	font: 20px rockwell;
	height: 100%;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
  text-decoration: none;
}

.navRight
{
	border-left: 2px;ta
	border-left-color: #90EE90;
	border-left-style: solid;
	float: right;
}

.navRight:hover, .title:hover
{
	background-color: #90EE90;
	color: #000000;
}

.oddRow
{
  background-color: #90EE90;
}

.title
{
	border-right: 2px;
	border-right-color: #90EE90;
	border-right-style: solid;
	float: left;
	font-size: 25px;
}
